*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #A67DB8;
    text-align: center;
}

h1{
    margin-top: 5vmin;
    font-size: 7vmin;
}

.msg-container{
    height: 80vmin;
    margin-top: 20vmin;
}

.hide{
    display: none;
}

#msg{
    font-size: 6vmin;
    font-weight: bolder;
}

#newgame{
    padding: 1rem;
    background-color: red;
    font-size: 1.25rem;
    color: black;
    border-radius: 1rem;
    border: none;
    margin-top: 10vmin;
}

.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    color: #1B3022;
    background-color: chocolate;
}

#reset{
    padding: 1rem;
    background-color: red;
    font-size: 1.25rem;
    color: black;
    border-radius: 1rem;
    border: none;
}